BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "L14" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "key_a" SITE "E3" ;
LOCATE COMP "key_b" SITE "F3" ;
LOCATE COMP "key_o" SITE "G3" ;
LOCATE COMP "dac_sync" SITE "J14" ;
LOCATE COMP "dac_clk" SITE "K12" ;
LOCATE COMP "dac_dat" SITE "K14" ;
