BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "L14" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "key_a" SITE "E3" ;
LOCATE COMP "key_b" SITE "F3" ;
LOCATE COMP "key_o" SITE "G3" ;
LOCATE COMP "i2c_scl" SITE "C8" ;
LOCATE COMP "i2c_sda" SITE "B8" ;
IOBUF PORT "i2c_scl" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "i2c_sda" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "seg_rck" SITE "P3" ;
LOCATE COMP "seg_sck" SITE "M4" ;
LOCATE COMP "seg_din" SITE "P13" ;
