BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "L14" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "uart_rx" SITE "E12" ;
IOBUF PORT "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "seg_rck" SITE "P3" ;
LOCATE COMP "seg_sck" SITE "M4" ;
LOCATE COMP "seg_din" SITE "P13" ;