BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "L14" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "lcd_bl" SITE "N6" ;
LOCATE COMP "lcd_clk" SITE "P7" ;
LOCATE COMP "lcd_din" SITE "N7" ;
LOCATE COMP "lcd_dc" SITE "P8" ;
LOCATE COMP "lcd_res" SITE "N8" ;
