BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "L14" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "vga[0]" SITE "P7" ;
LOCATE COMP "vga[1]" SITE "N7" ;
LOCATE COMP "vga[2]" SITE "P8" ;
LOCATE COMP "sync_h" SITE "N8" ;
LOCATE COMP "sync_v" SITE "G13" ;
