BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "L14" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "i2c_scl" SITE "C8" ;
LOCATE COMP "i2c_sda" SITE "B8" ;
IOBUF PORT "i2c_scl" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "i2c_sda" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "led[0]" SITE "N13" ;
LOCATE COMP "led[1]" SITE "M12" ;
LOCATE COMP "led[2]" SITE "P12" ;
LOCATE COMP "led[3]" SITE "M11" ;
LOCATE COMP "led[4]" SITE "P11" ;
LOCATE COMP "led[5]" SITE "N10" ;
LOCATE COMP "led[6]" SITE "N9" ;
LOCATE COMP "led[7]" SITE "P9" ;
