BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "L14" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "adc_cs" SITE "G14" ;
LOCATE COMP "adc_dat" SITE "H12" ;
LOCATE COMP "adc_clk" SITE "J13" ;
LOCATE COMP "seg_1[0]" SITE "A10" ;
LOCATE COMP "seg_1[1]" SITE "C11" ;
LOCATE COMP "seg_1[2]" SITE "F2" ;
LOCATE COMP "seg_1[3]" SITE "E1" ;
LOCATE COMP "seg_1[4]" SITE "E2" ;
LOCATE COMP "seg_1[5]" SITE "A9" ;
LOCATE COMP "seg_1[6]" SITE "B9" ;
LOCATE COMP "seg_1[7]" SITE "F1" ;
LOCATE COMP "seg_1[8]" SITE "C9" ;
LOCATE COMP "seg_2[0]" SITE "C12" ;
LOCATE COMP "seg_2[1]" SITE "B14" ;
LOCATE COMP "seg_2[2]" SITE "J1" ;
LOCATE COMP "seg_2[3]" SITE "H1" ;
LOCATE COMP "seg_2[4]" SITE "H2" ;
LOCATE COMP "seg_2[5]" SITE "B12" ;
LOCATE COMP "seg_2[6]" SITE "A11" ;
LOCATE COMP "seg_2[7]" SITE "K1" ;
LOCATE COMP "seg_2[8]" SITE "A12" ;
